@import "main.less";

@habit-margin: 40px;
form.habit-form {
  font-size:@habit-form-font-size;
  border-bottom: solid;
  padding-bottom: @habit-margin;
}

input {
  border: none;
  border-bottom: solid;

  &#habit-name-input {

  }

  &#days-input {
    width: 30%;
  }
}

.habit-header {
}

@streak-view-margin: 20px;

.habit-streak-view {
  margin: @streak-view-margin 0 @streak-view-margin 0;
}

.completed-button {

}

@square-row-margin: 25px;

.square-row {
  margin: @square-row-margin;
}

@square-side-length: 10px;

@square-completed: #BCED91;
@square-today: #99ccff;
@square-blank: #D3D3D3;
@square-margin: 5px;

.square {
  background-color: @square-blank;
  padding: @square-side-length;
  margin: @square-margin;

  &.completed {
    background-color: @square-completed;
  }

  &.today {
    background-color: @square-today;
  }
}
