% rebase('base.tpl', title='Index')
My Account
<!-- Hide form if logged in -->
<form action="/login" method="post">
  Username: <input name="username" type="text" />
  Password: <input name="password" type="password" />
  <input value="Login" type="submit" />
</form>
Register Account
<form action="/user/register" method="post">
  Name: <input name="name" type="text" />
  Email: <input name="email" type="text" />
  Password: <input name="password" type="password" />
  <input value="Register" type="submit" />
</form>


<div>
  <b>Create a habit</b>
  <form action="/habit" method="post">
    I want to do <input name="name" type="text" /> for <input name="goal_streak" type="number"/> of days.
    <input value="Create" type="submit" />
  </form>
</div>
<!-- Convert away from being a button -->
<form action="/habit/3" method="post"> 
  <input value="I did it" type="submit" />
</form>
