% rebase('base.tpl', title='Index')
My Account
<!-- Hide form if logged in -->
<form action="/login" method="post">
  Username: <input name="username" type="text" />
  Password: <input name="password" type="password" />
  <input value="Login" type="submit" />
</form>

Goal
Streak

<div id="calendar">
  <div class="month"> 
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>
        August<br>
        <span style="font-size:18px">2016</span>
      </li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>

  <ul class="days"> 
    % for date in range(1,31):
      <li>{{date}}</li>
    % end
    <!-- <li><span class="active">10</span></li> -->
  </ul>
</div>